<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Hello World!</title>
</head>
<body>
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="注销"/>
    </form>

    <span th:text="${#authentication.authorities}"></span>


    <div sec:authorize="hasRole('ROLE_ADMIN')">我有admin</div>

    <div sec:authorize="hasRole('ROLE_USER')">
       我有USER
    </div>

    <div sec:authorize="hasRole('ADMINNENG')">
       我有adminneng
    </div>

    <div sec:authorize="hasRole('ROLE_ADMINNENG')">
        我有adminneng2
    </div>

    <div sec:authorize="hasRole('ADMINNENG2')">
        我有adminneng3
    </div>

</body>
</html>